body {
    background-color: #DB8D72;
    font-family: 'Courier New', Courier, monospace;
}
header {
    color: white;
    text-align: center;
}
section {
    background-color: #3C8F7D;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    color: white;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.24);
}
input {
    padding: 5px;
    text-align: justify;
    margin: auto;
    background-color: #FFBA12;
    color: #00268F;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
